@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
/* General */
*{
    font-family: "Inknut Antiqua", serif;
}

input, select, button,textarea{
    background-color: #ADADAE77;
    border: 2px solid #525252;
    border-radius: 12px;
    padding: 1%;
    color: #001e66;
}
input, textarea{
    caret-color: #525252;
}

label{
    font-size: 20px;
    color: #001e66;
    text-shadow: #00c1f4 0px 0px 5px;
}

input::placeholder{
    color: #525252;
}

h2{
    font-size: 30px;
    color: #001e66;
    text-decoration: underline;
    margin-bottom: -5px;
}

h3{
    font-size: 20px;
    color: #001e66;
}

a {
    color: #001e66;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 12px;
}

header, main, footer{
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    margin: auto;
}
div{
    padding: 0.5%;
}

/*header*/
header{
    width: 97.5%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #ADADAD44;
    padding: 1%;
}

/* logo, título y login */
.encabezado{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 130px;
    border: 1px solid transparent;
    border-radius: 12px;

    /* Logo */
    #espacioLogo{
        display: flex;
        align-items: center;
        width: 15%;
        height: 100%;
        margin-left: -2%;
    }
    #logo{
        width: 100%;
        height: 100%;
    }

    #menu{
        display: flex;
        margin-top: 4%;
        width: 56%;
    }

    #login{
        display: flex;   
        flex-direction: column;     
        width: 25%;
        height: 100%;
        margin-left: auto;
        margin-top: -1.5%;
        padding: 1%;
        justify-content: flex-end;

        label{
            font-size: 16px;
        }

        .inputs{
            width: 80%;
            height: 100%;
            margin-top: -5%;
            padding: 2% 5%;
            :first-child{
                margin: 4.5%;
            }

            input{
                margin: 1%;
            }
        }

        .buttons{
            width: 100%;
            margin-top: -5%;
            :first-child{
                margin-left: 16%;
            }
            button{
                width: 30%;
            }
        }
    }
}

 /* Título y menú */
#menu{
    float: left;
    width: 70%;
    height: 50px;
    margin-top: 15px;
}
#menu a:link{
    padding: 0px 30px;
    margin-right: 40px;
    background-color: #fce271;
    border: 2px solid black;
}
#menu a:visited{
    padding: 0px 30px;
    margin-right: 40px;
    background-color: #fce271;
    border: 2px solid black;
}
#menu a:focus{
    padding: 0px 30px;
    margin-right: 40px;
    background-color: #fce271;
}
#menu a:hover{
    padding: 0px 30px;
    margin-right: 40px;
    box-shadow: black 0px 10px 15px;
    background-color: #91e1d6;
}
#menu a:active{
    padding: 0px 30px;
    margin-right: 40px;
    color: #b80301;
    background-color: #ddc557;
}

/*footer*/
footer{
    width: 98.7%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #ADADAD44;
}
#redes{
    width: 98.7%;
    background-color: #00c2f3a4;
    border-radius: 12px;
}
#redes a{
    margin-right: 20px;
}
#redes a:first-of-type {
    margin-left: 40%;
}
/*body*/
body{
    background-image: url("../imagenes/kingdomhearts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button, input[type="submit"], input[type="reset"]{
    cursor: pointer;
}
